.img-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-overlay img {
  max-width: 95%;
  max-height: 95%;
  box-shadow: 0 0 20px black;
  cursor: zoom-out;
}

